
h2 {
    color: red;
    text-align: center;
    border-radius: 5em;
}
h1 {
    color: red;
    background: aqua;
    text-align: center;
    border-radius: 5em;
}
hr {

}



body {
    background: powderblue
}
.stundenplan {
    display: flex;
}

.tag{
    flex:auto;
    padding: 23px;

}
.tag p {
    border: 2px solid;
    margin: 34px;
    padding: 23px;
    background:green;
    text-align: center;
}
