
h2 {
    color: red;
    text-align: center;
    border-radius: 5em;
}
h1 {
    color: red;
    background: aqua;
    text-align: center;
    border-radius: 5em;
}
hr {

}
a{
    text-align: center;
}


body {
    background: powderblue
}
.stundenplan {
    display: flex;
}

.tag{
    flex: 1;
    display: flex;
}
.tag p {
    flex: 1;
    border: 2px solid;
    margin: 10px;
    padding: 23px;
    background:blue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}